/* MT: We need to find a better way to do responsive design with the inline styles that react utilizes. I suggest the react-responsive library. */

/*.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media only screen and (max-width:959px) {
    .home-container {
        flex-direction: column;
    }

    .home-banner-text {
        top: 20%;
    }

    .home-banner-text-header {
        font-size: 2.9em;
    }

    .home-banner-text-subhead {
        font-size: 2.2em;
    }

    .home-banner-image {
        align-self: center;
        max-height: 100vh;
        width: inherit;
    }
}*/
